<% content_for :title do -%>
Specimens
<%- end %>

<% content_for :sidebar do %>
  <div><%= search_form(specimens_path) %> </div>
  <div><%= link_to 'New specimen', new_specimen_path %></div>
  <div><%= link_to 'Download CSV occurrences', specimens_path(format: :csv) %></div>
  <div><%= link_to 'Summarise', summary_specimens_path(@summary_query) %></div>
  <div><%= button_tag 'Query within map extents', type: 'button', id: 'spatial-query' %></div>
  <%= sites_map(@specimens.collect(&:site), [300, 300]) %>
<% end %>

  <%= render partial: 'specimens_table', locals: {specimens: @specimens, show_taxon: true, show_site: true} %>

  <%= render partial: 'paginate', locals: {records: @specimens} %>

