<% content_for :title do -%>
Specimens
<%- end %>

<% content_for :sidebar do %>
  <div><%= search_form(specimens_path) %> </div>
  <div><%= link_to 'New specimen', new_specimen_path %></div>
  <div><%= link_to 'Download CSV occurrences', specimens_path(format: :csv) %></div>
<% end %>

<table>
  <tr class='header'>
    <th>Id</th>
    <th>Species</th>
    <th>Description</th>
    <th></th>
  </tr>

   <% @specimens.each do |specimen| %>
    <tr>
      <td><%= link_to "#{specimen.site_id}-#{specimen.id}", edit_specimen_path(specimen) %></td>
      <td><%= specimen.taxon_label %></td>
      <td><%= specimen.description %></td>
      <td><%= link_to image_tag('/delete18.png', size: 18),
	      specimen_path(specimen),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
