<% content_for :title do -%>
Welcome
<%- end %>

<p>Manage your specimen data here.</p>

<p>Sites are collected into <em>projects</em>.</p>
<p>
<%= link_to 'Projects', controller: 'projects' %>
</p>

<p><em>Sites</em> identify a time and a place where specimens were collected.</p>
<p>
<%= link_to 'Sites', controller: 'sites' %>
</p>

<p>A <em>specimen</em> is an individual which has been collected at a site. It usually belongs to a taxon (such as a species), and may have associated photos</p>
<p>
<%= link_to 'Specimens', controller: 'specimens' %>
<%= link_to 'Summary of specimens', controller: 'specimens', action: :summary %>
</p>

<p>A <em>taxon</em> may be well defined, such as an agreed upon species or genus, or it may be an ad-hoc category such as a morphospecies.</p>
<p>
<%= link_to 'Taxa', controller: 'taxa' %>
</p>

<p><em>Photos</em> can only be added to <em>specimens</em> or used to identfy a <em>site</em>, but for convenience they may be viewed here.
<p>
<%= link_to 'Photos', controller: 'photos' %>
<%= link_to 'Summary of photos', controller: 'photos', action: :summary %>
</p>

<div style='border-top:1px solid #def; border-bottom:1px solid #def; margin: 1.5em 0; padding: 1ex 0'>
  <a href="ac/index.html">Supplementary Data</a>
</div>

<div style='padding-top: 2em; font-size:80%; font-style: italic'>Server IP addresses:
  <%= @ip_addr.join(', ') %>
</div>
