  <% if specimens %>
    <%= block do %>
      <table>
        <tr class=header>
          <th>Id</th>
          <% if show_taxon %>
            <th>Taxon</th>
          <% end %>
          <th>Description</th>
          <th>Images</th>
          <th>Disposition</th>
          <th>Body length</th>
          <th>Life stage</th>
          <% if show_site %>
            <th>Site</th>
          <% end %>
        </tr>
        <% specimens.each do |sp| %>
          <tr>
            <td><%= link_to sp.id, edit_specimen_path(sp) %></td>
            <% if show_taxon %>
              <td><%= sp.taxon %></td>
            <% end %>
            <td><%= sp.descriptive_text %></td>
            <td><%= sp.summarise_photos %></td>
            <td><%= sp.disposition %></td>
            <td><%= sp.body_length %></td>
            <td><%= sp.life_stage %></td>
            <% if show_site %>
              <td><%= link_to sp.site_id, edit_site_path(sp.site_id) %></td>
              <!-- <td><%# = sp.site_id %></td> -->
            <% end %>
          </tr>
        <% end %>
      </table>
    <% end %>
  <% end %>
