  <% if specimens %>
    <%= block do %>
      <table>
        <tr class=header>
          <th>Id</th>
          <% if show_taxon %>
            <th>Taxon</th>
          <% end %>
          <th>Description</th>
          <th>Photos</th>
          <th>Reference</th>
        </tr>
        <% specimens.each do |sp| %>
          <tr>
            <td><%= link_to sp.id, edit_specimen_path(sp) %></td>
            <% if show_taxon %>
              <td><%= sp.taxon %></td>
            <% end %>
            <td><%= sp.descriptive_text %></td>
            <td><%= sp.photos.count %></td>
            <td><%= sp.ref %></td>
          </tr>
        <% end %>
      </table>
    <% end %>
  <% end %>
