<% # Note use of resource-oriented form_for %>
<%= labelled_form_for @site do |f| %>
 
  <% if @site.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@site.errors.count, "error") %> prohibited
        this site from being saved:
      </h2>
      <ul>
        <% @site.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.collection_select :project_id, Project.all, :id, :title %>

  <%= labelled_block 'Location' do %>
    <%= f.text_field :description, size: 45 %>
    <%= f.text_field :ref, label: 'Reference' %>
  <% end %>
  <%= block do %>
    <%= f.text_field :location, label: 'Latitude & Longitude', size: 45, title: 'Latitude and longitude +- error' %>
    <%= f.field '.' do %>
        <%= button_tag 'Use current location', type: 'button', data: {'get-location' => 'site'} %>
    <% end %>
  <% end %>
  <%= block do %>
    <%= f.text_field :altitude, label: 'Altitude (m)' %>
  <% end %>

  <%= labelled_block 'Weather' do %>
    <%= f.text_field :temperature, size: 8 %>
    <%= f.text_field :weather %>
  <% end %>
 
  <%= labelled_block 'Sample information' do %>
    <%= f.text_field :collector %>
    <%= f.text_field :sample_type %>
    <%= f.text_field :transect %>
  <% end %>

  <%= block do %>
      <%= f.datetime_select :started_at, label: 'Sampling started at', include_blank: true, start_year: 2024, end_year: 1900 %>
      <%= f.text_field :duration_s, label: 'Duration', title: 'Collecting duration' %>
  <% end %>

  <%= f.text_area :notes, cols: 45 %>
 
  <%= f.file_field :photo %>

  <%= block do %>
    <%= f.submit 'Save changes' %>
  <% end %>
 
  <%= block do %>
    <% @site.photos.each do |photo| %>
      <%= photo_image(photo, rating_flags:false, link_to_owner: false) %>
    <% end %>
  <% end %>

  <%= render partial: 'specimens_table', locals: {specimens: @site.specimens.limit(41), show_taxon: true, show_site: false} %>

<% end %>
