<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %></title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="initial-scale=1.0">
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <%# --- Banner --- -%>
    <div class='banner'>
      <% if Rails.env.development? %>
        <h2 style='float: left; margin-top: 1.3em; padding: 4px; color: red; background: black'>BEWARE - DEVELOPMENT ENVIRONMENT</h2>
      <% end %>
      <%= link_to image_tag('/ant.png'), root_path, class: :home %>

      <ol class=menu>
	<%= link_to '<li>Specimens</li>'.html_safe, specimens_path %>
	<%= link_to '<li>Sites</li>'.html_safe, sites_path %>
	<%= link_to '<li>Taxa</li>'.html_safe, taxa_path %>
	<%= link_to '<li>Projects</li>'.html_safe, projects_path %>
	<%= link_to '<li>Photos</li>'.html_safe, photos_path %>
      </ol>

      <h1><%= yield :title %></h1>
      <div style='clear:both'></div>
    </div>

    <div class='content'>
      <%# --- Flash --- -%>
      <% if !flash.blank? %>
        <div id='error_explanation'>
          <% flash.each do |name, msg| -%>
            <%= content_tag :div, msg, class: name %>
          <% end -%>
        </div>
      <% end -%>

      <%# --- Sidebar --- -%>
        <div class='sidebar'>
           <%= yield :sidebar %>
        </div>
      
      <%# --- Content --- -%>
      <%= yield %>
    </div>
  </body>
</html>
